.logo{
    color: #e50914;
    font-size: 50px;
    font-weight: bold;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    cursor: pointer;
}

.hero {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.hero h1{
    color:#e50914;
}

button {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

section {
    padding: 40px 20px;
}

h2 {
    color: #333;
}

.content-list {
    display: flex;
    overflow-x: scroll;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
